body {
    @include font-size(0.9);
    color: $preto;
    @extend %font-normal;
    margin: 0 !important;
}

.nome-tax {
    display: none !important;
}

h2 {
    text-transform: uppercase !important;
    padding-bottom: 5px;
    padding-top: 40px;
    color: white !important;
    font-family: 'Poppins SBold' !important;
    max-width: 450px;
    border-bottom: 1px solid;
    margin-top: 30px;
    margin-bottom: 30px;
}

a, a:hover, a:visited, a:focus {
    color: black;
}

a, a:hover, a:visited, a:focus,
div, p, li, span,
h1, h2, h3, h4, h5, h6
{
    text-decoration: none;
    font-weight: 300;
}

ul, ol {
    margin: 0;
    padding: 0;
}

h1 { @include font-size(1.8); }
h2 { @include font-size(1.6); }
h3 { @include font-size(1.4); }
h4 { @include font-size(1.2); }
h5 { @include font-size(1.1); }
h6 { @include font-size(1.05); }

h1,h2,h3,h4 {
    line-height: 1.2em;
}

a, a:hover, a:visited, a:focus {
    outline: none;
    color: black;
    cursor: pointer !important;
}

p,a {
    //line-height: 2em;
}

h1, h2, h3, h4 {
    @extend %font-normal;
    text-transform: capitalize;
    color: $preto;
}

.page-content {
    margin: 0;
}

.vc_row {
    margin-left: 0!important;
    margin-right: 0!important;
}

.wpb_wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.single, .archive {
    #secondary {
        margin-top: 50px !important;
    
        .grid {
            max-width: 374px;
            width: 100%;
        }
    }
}


.author, .single, .page-template-blog {
    .content-area {
        float: left;
        margin: 0 -32% 0 0;
        width: 100%;
        
        @media screen and (max-width: 800px) {
            float: none;
            margin: 0;
            width: 100%;
            padding: 0 15px;
        }
    }
    .site-main {
        margin: 0 35% 0 0;
        @media screen and (max-width: 800px) {
            margin: 0;
        }
    }
    .widget-area {
        float: right;
        overflow: hidden;
        width: 32%;
        
    }
    .site-footer {
        clear: both;
        width: 100%;
    }
}

.error404 {
    #content {
        margin-top: 100px;
        
        h1 {
            font-size: 44px;
        }
        p {
            font-size: 22px;
        }
    }
    
    #primary {
        margin: auto;
        max-width: 1170px;
        margin-top: 100px;
    }
    
    .widget {
        display: none;
    }
    
    section.error-404 {
        min-height: 350px !IMPORTANT;
    }
    
    #colophon {
        display: none !important;
    }
}

.adsbygoogle {
   
    display: none !important;

}


