.home {
	.primary {
	}
	#banner {
		padding-top: 40px;
		background: #eceaea;
		.grid {
			max-width: 1170px;
			margin: auto;
			width: 100%;
			padding-top: 60px !important;
			
			.imagem {
				max-width: 550px;
				width: 100%;
				margin: auto !important;
				
			}
			p {
				max-width: 550px !important;
				margin: auto;
				margin-top: 30px;
				font-size: 17px;
				padding-bottom: 40px;
			}
		}
	}
	#utilidades {
		margin-top: -20px;
		background: $verde-mais-claro;
		
		.grid {
			max-width: 1170px !important;
			width: 100%;
			margin: auto;
			
			.downloads {
				max-width: 860px;
				width: 100%;
				margin: auto;
				.col-sm-4 {
					text-align: center;
					
					a {
						img {
							max-width: 140px;
						}
					}
				}
				
				&:after {
					content: '';
					display: block;
					clear: both !important;
				}
			}
		}
	}
}