#comments {
    display: none;
}

.barra-header {
    background: $verde-claro;
    min-height: 40px;
    max-width: 1920px;
    width: 100%;
    
    .grid {
        max-width: 1170px !important;
        width: 100%;
        margin: auto !important;
        
        p {
            margin: 10px 0;
            @extend %font-normal;
        }
        
        .left {
            float: left;
            div {
                float: left;
                margin: 0 20px;
                
                p {
                    font-size: 0.9em;
                    color: white;
                    
                }
            }
            
            &:after {
                display: block;
                clear: both;
                content: '';
            }
            
            @media screen and (max-width: 800px) {
                text-align: center;
                float: none;
                
                
                div {
                    float: none !important;
                    
                    p {
                        margin: 0 !important;
                    }
                }
            }
        }
        
        .right {
            float: right;
            margin-top: 8px;
            div {
                float: left;
                margin: 0 20px;
                a {
                    /* margin-top: 30px !important; */
                    font-size: 20px;
                    /* line-height: 42px; */
                    color: white;
                    vertical-align: bottom;
                    color: white;
                }
            }
            
            @media screen and (max-width: 800px) {
                display: none !important;
            }
            
        }
        
        &:after {
            display: block;
            clear: both !important;
            content: '';
        }
    }
    
    @media screen and (max-width: 800px) {
        
    }
  
}

#masthead {
    background: rgba(255,255,255,0.98) !important;
    height: 70px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 1920px !important;
    @extend %transition;
    z-index: 10100 !important;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    .grid {
        padding: 0 15px;
        width: 100%;
        max-width: 1170px !important;
        margin: auto;
        .site-branding {
            max-width: 250px;
            margin-top: 15px;
            width: initial !important;
            float: left;
            .site-logo {
                @extend %transition;
                float: left;
                max-width: 180px;
            }
        }
        nav {
            clear: initial;
            display: block;
            float: right !important;
            width: initial !important;
        
            .menu-principal-container {
                @include center-block();
                @extend %font-normal;
                .nav-menu {
                    @extend %transition;
                    list-style: none !important;
                    margin-left: 35px;
                    
                    &:after {
                        content: '';
                        display: block;
                        clear: both;
                    }
                    
                    .li-menu {
                        
                        float: left;
                        
                        a.menu {
                            color: black;
                            padding: 0 20px;
                            line-height: 70px;
                            display: block;
                        }
                        
                        a {
                           
                            
                            &:hover {
                                background: $verde-escuro;
                                color: white !important;
                            }
                          
                            text-transform: uppercase !important;
                            @extend %transition;
                        
                            &:hover {
                                @extend %transition;
                            }
                        }
                        
                        ul {
                            list-style: none !important;
                          
                        }
                        
                    }
                }
            
            
                @media screen and (max-width: 800px) {
                    transition: left .25s linear;
                    left: 600px;
                    z-index: 9999;
                    background: rgba(#a5c659,0.90);;
                    position: absolute;
                    margin-top: 60px;
    
                    transition: all 0.5s;
                    -moz-transition: all 0.5s; /* Firefox 4 */
                    -webkit-transition: all 0.5s; /* Safari and Chrome */
                    -o-transition: all 0.5s; /* Opera */
                
                    .nav-menu {
                        padding: 0;
                        margin-left: 0;
                        padding-top: 0px;
                        
                    
                        li {
                            clear: both !important;
                            float: none !important;
                            border-bottom: 1px solid white !important;
                            padding: 0;
                            display: block;
                            text-align: center;
                            width: 90% !important;
                            margin: auto;
                            
                            .btn-group {
                                display: block !important;
                            }
                        
                            a {
                                color: white !important;
                                line-height: 50px;
                                display: block;
                                font-size: 20px;
                            }
                            
                            ul.dropdown-menu {
                                
                                text-align: center;
                                width: 100% !important;
                                display: block !important;
                                position: relative !important;
                                height: inherit !important;
                                background: transparent !important;
                                box-shadow: none !important;
                                border: 0 !important;
                                background: transparent !important;
                                
                                li {
                                    border: 0 !important;
                                    display: inline;
                                    a {
                                        display: inline;
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    
                    
                    }
                    
                    &.toggled {
                        left: 0 !important;
                        transition: all 0.5s;
                        -moz-transition: all 0.5s; /* Firefox 4 */
                        -webkit-transition: all 0.5s; /* Safari and Chrome */
                        -o-transition: all 0.5s; /* Opera */
                    }
                }
                
                
            }
        
            &.toggled {
                width: 100% !important;
                z-index: 9999;
                left: 0;
                .menu-menu-1-container {
                    height: 100vh;
                }
                ul {
                    line-height: 50px;
                    li {
                        margin-left: -10px;
                        padding-top: 0px;
                        text-align: center;
                        float: none;
                    
                        
                        a{
                            color: $branco;
                            @include font-size(1.9);
                        }
                    }
                }
            
                @media screen and (max-width: 800px) {
                    margin-top: 0;
                    
                }
            }
        
        
            @media screen and(max-width: 800px) {
                height: 0px;
            }
        }
        
        &:after {
            content: '';
            display: block;
            clear: both !important;
        }
        
       
    }
    
   
    .menu-toggle {
        @extend %transition;
        border-radius: 0 !important;
        position: absolute;
        top: 15px;
        right: 15px;
        display: none;
 
        &:hover, &:focus {
            outline: none;
            box-shadow: none;
        }
        @media screen and (max-width: 800px) {
            
            display: block !important;
            font-size: 30px;
        }
    }
    
    &.small {
        @extend %transition;
        position: fixed;
        z-index: 99999;
        top: 0;
        
        font-size: inherit !important;
        
        
    }
    
    
    @media screen and (max-width: 800px) {
        height: 60px !important;
        padding: 0 !important;
        position: fixed !important;
        top: 51px;
        
        .grid {
            padding: 0px 10px;
            .site-logo {
                margin-top: 0 !important;
            }
    
            .site-branding {
                margin-top: 15px;
                margin-left: 10px;
                
                .site-logo {
                    max-width: 120px;
                    margin-top: -8px;
                    
                    img {
                        max-width: 150px !important;
                    }
                }
                
            }
        }
        
        nav {
            ul {
                height: 100vh;
            }
        }
    }
}









