%font-sans
{
	font-family: 'Uni Sans Italic', sans-serif, Arial;
}

%font-titulo
{
	font-family: 'Gotham Bold Italic', sans-serif, Arial;
}

%font-normal
{
	font-family: 'Poppins Light', sans-serif, Arial;
}

%font-text {
	font-family: 'Lato';
}

$bege: rgba(#dfdbba,0.9);
$branco: rgba(#FFFFFF,1);
$preto: rgba(#000000,1);
$roxo: rgba(#653E97,1);
$verde-claro: rgba(#3e543a,1);
$vermelho: rgba(#DA0D0D,1);
$azul: rgba(#366eb7,1);
$verde-escuro: rgba(#3b5337,1);


$width: 100%;
$max-width: 1170px;