@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700");
@import url(fonts/fonts.css);
@import url(fonts/social.css);
body, h1, h2, h3, h4, .barra-header .grid p, #masthead .grid nav .menu-principal-container {
  font-family: 'Poppins Light', sans-serif, Arial; }

#masthead, #masthead .grid .site-branding .site-logo, #masthead .grid nav .menu-principal-container .nav-menu, #masthead .grid nav .menu-principal-container .nav-menu .li-menu a, #masthead .grid nav .menu-principal-container .nav-menu .li-menu a:hover, #masthead .menu-toggle, .home #utilidades .grid .downloads .col-sm-3 a img, .home #utilidades .grid .downloads .col-sm-3 a:hover img, .home #participantes .conteudo .menu a, .home #participantes .conteudo .menu a:hover, .home #participantes .conteudo .menu a.active {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  /* Firefox 4 */
  -webkit-transition: all 0.5s;
  /* Safari and Chrome */
  -o-transition: all 0.5s;
  /* Opera */ }

body {
  font-size: 14.4px;
  font-size: 0.9rem;
  color: black;
  margin: 0 !important; }

.nome-tax {
  display: none !important; }

h2 {
  text-transform: uppercase !important;
  padding-bottom: 5px;
  padding-top: 40px;
  color: white !important;
  font-family: 'Poppins SBold' !important;
  max-width: 450px;
  border-bottom: 1px solid;
  margin-top: 30px;
  margin-bottom: 30px; }

a, a:hover, a:visited, a:focus {
  color: black; }

a, a:hover, a:visited, a:focus,
div, p, li, span,
h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: 300; }

ul, ol {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 28.8px;
  font-size: 1.8rem; }

h2 {
  font-size: 25.6px;
  font-size: 1.6rem; }

h3 {
  font-size: 22.4px;
  font-size: 1.4rem; }

h4 {
  font-size: 19.2px;
  font-size: 1.2rem; }

h5 {
  font-size: 17.6px;
  font-size: 1.1rem; }

h6 {
  font-size: 16.8px;
  font-size: 1.05rem; }

h1, h2, h3, h4 {
  line-height: 1.2em; }

a, a:hover, a:visited, a:focus {
  outline: none;
  color: black;
  cursor: pointer !important; }

h1, h2, h3, h4 {
  text-transform: capitalize;
  color: black; }

.page-content {
  margin: 0; }

.vc_row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.wpb_wrapper {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.single #secondary, .archive #secondary {
  margin-top: 50px !important; }
  .single #secondary .grid, .archive #secondary .grid {
    max-width: 374px;
    width: 100%; }

.author .content-area, .single .content-area, .page-template-blog .content-area {
  float: left;
  margin: 0 -32% 0 0;
  width: 100%; }
  @media screen and (max-width: 800px) {
    .author .content-area, .single .content-area, .page-template-blog .content-area {
      float: none;
      margin: 0;
      width: 100%;
      padding: 0 15px; } }
.author .site-main, .single .site-main, .page-template-blog .site-main {
  margin: 0 35% 0 0; }
  @media screen and (max-width: 800px) {
    .author .site-main, .single .site-main, .page-template-blog .site-main {
      margin: 0; } }
.author .widget-area, .single .widget-area, .page-template-blog .widget-area {
  float: right;
  overflow: hidden;
  width: 32%; }
.author .site-footer, .single .site-footer, .page-template-blog .site-footer {
  clear: both;
  width: 100%; }

.error404 #content {
  margin-top: 100px; }
  .error404 #content h1 {
    font-size: 44px; }
  .error404 #content p {
    font-size: 22px; }
.error404 #primary {
  margin: auto;
  max-width: 1170px;
  margin-top: 100px; }
.error404 .widget {
  display: none; }
.error404 section.error-404 {
  min-height: 350px !IMPORTANT; }
.error404 #colophon {
  display: none !important; }

.adsbygoogle {
  display: none !important; }

#comments {
  display: none; }

.barra-header {
  background: #3e543a;
  min-height: 40px;
  max-width: 1920px;
  width: 100%; }
  .barra-header .grid {
    max-width: 1170px !important;
    width: 100%;
    margin: auto !important; }
    .barra-header .grid p {
      margin: 10px 0; }
    .barra-header .grid .left {
      float: left; }
      .barra-header .grid .left div {
        float: left;
        margin: 0 20px; }
        .barra-header .grid .left div p {
          font-size: 0.9em;
          color: white; }
      .barra-header .grid .left:after {
        display: block;
        clear: both;
        content: ''; }
    .barra-header .grid .right {
      float: right;
      margin-top: 8px; }
      .barra-header .grid .right div {
        float: left;
        margin: 0 20px; }
        .barra-header .grid .right div a {
          /* margin-top: 30px !important; */
          font-size: 20px;
          /* line-height: 42px; */
          color: white;
          vertical-align: bottom;
          color: white; }
    .barra-header .grid:after {
      display: block;
      clear: both !important;
      content: ''; }

#masthead {
  background: rgba(255, 255, 255, 0.98) !important;
  height: 70px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  top: 40;
  width: 100%;
  max-width: 1920px !important;
  z-index: 10100 !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  #masthead .grid {
    padding: 0 15px;
    width: 100%;
    max-width: 1170px !important;
    margin: auto; }
    #masthead .grid .site-branding {
      max-width: 250px;
      margin-top: 15px;
      width: initial !important;
      float: left; }
      #masthead .grid .site-branding .site-logo {
        float: left;
        max-width: 180px; }
        @media screen and (max-width: 800px) {
          #masthead .grid .site-branding .site-logo {
            margin-top: 50px;
            text-align: center;
            max-width: 150px;
            margin-left: auto;
            margin-right: auto; } }
        @media screen and (max-width: 800px) {
          #masthead .grid .site-branding .site-logo {
            float: none; } }
    #masthead .grid nav {
      clear: initial;
      display: block;
      float: right !important;
      width: initial !important; }
      #masthead .grid nav .menu-principal-container {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100%;
        max-width: 1170px;
        left: 0; }
        #masthead .grid nav .menu-principal-container .nav-menu {
          list-style: none !important;
          margin-left: 35px; }
          #masthead .grid nav .menu-principal-container .nav-menu:after {
            content: '';
            display: block;
            clear: both; }
          #masthead .grid nav .menu-principal-container .nav-menu .li-menu {
            float: left; }
            #masthead .grid nav .menu-principal-container .nav-menu .li-menu a.menu {
              color: black;
              padding: 0 20px;
              line-height: 70px;
              display: block; }
            #masthead .grid nav .menu-principal-container .nav-menu .li-menu a {
              text-transform: uppercase !important; }
              #masthead .grid nav .menu-principal-container .nav-menu .li-menu a:hover {
                background: #3b5337;
                color: white !important; }
            #masthead .grid nav .menu-principal-container .nav-menu .li-menu ul {
              list-style: none !important; }
        @media screen and (max-width: 800px) {
          #masthead .grid nav .menu-principal-container {
            z-index: 9999;
            background: rgba(54, 110, 183, 0.9); }
            #masthead .grid nav .menu-principal-container .nav-menu {
              padding: 0;
              margin-left: 0; }
              #masthead .grid nav .menu-principal-container .nav-menu li {
                padding: 0 !important;
                padding-left: 0; }
                #masthead .grid nav .menu-principal-container .nav-menu li a {
                  color: white; } }
      #masthead .grid nav.toggled {
        width: 100% !important;
        z-index: 9999;
        left: 0; }
        #masthead .grid nav.toggled .menu-menu-1-container {
          height: 100vh; }
        #masthead .grid nav.toggled ul {
          line-height: 50px; }
          #masthead .grid nav.toggled ul li {
            margin-left: -10px;
            padding-top: 0px;
            text-align: center;
            float: none; }
            #masthead .grid nav.toggled ul li a {
              color: white;
              font-size: 30.4px;
              font-size: 1.9rem; }
        @media screen and (max-width: 800px) {
          #masthead .grid nav.toggled {
            margin-top: 0; } }
      @media screen and (max-width: 800px) {
        #masthead .grid nav {
          height: 0px; } }
    #masthead .grid:after {
      content: '';
      display: block;
      clear: both !important; }
  #masthead .menu-toggle {
    border-radius: 0 !important;
    position: absolute;
    top: 15px;
    right: 15px;
    text-indent: -9999px;
    overflow: hidden;
    background-size: cover !important;
    width: 30px;
    height: 30px;
    z-index: 9999;
    border: 0;
    box-shadow: none;
    display: none !important; }
    #masthead .menu-toggle:hover, #masthead .menu-toggle:focus {
      outline: none;
      box-shadow: none; }
    @media screen and (max-width: 800px) {
      #masthead .menu-toggle {
        display: block !important; } }
  #masthead.small {
    position: fixed;
    z-index: 99999;
    top: 0;
    font-size: inherit !important; }
  @media screen and (max-width: 800px) {
    #masthead {
      height: 60px !important;
      padding: 0 !important; }
      #masthead .grid {
        padding: 0; }
        #masthead .grid .site-logo {
          margin-top: 0 !important; }
        #masthead .grid .site-branding {
          margin-left: 10px; }
          #masthead .grid .site-branding .site-logo {
            max-width: 120px;
            margin-top: -8px; } }
      @media screen and (max-width: 800px) and (max-width: 800px) {
        #masthead .grid .site-branding {
          margin-top: 8px; } }
  @media screen and (max-width: 800px) {
      #masthead nav ul {
        height: 100vh; } }

.entry-footer {
  display: none; }

#colophon {
  margin-top: 120px;
  color: white;
  clear: both;
  background-color: #1a1a1a;
  width: 100%;
  max-width: 1920px;
  margin-right: auto !important;
  margin-left: auto; }
  #colophon:before {
    content: '';
    display: block;
    background: url(../images/footer-topo.png);
    height: 137px;
    background-size: cover;
    position: absolute;
    width: 100%;
    max-width: 1920px;
    margin-top: -137px;
    background-position: 50% 50%; }
  #colophon p {
    font-family: 'Lato';
    font-weight: 300; }
  @media screen and (max-width: 800px) {
    #colophon {
      height: auto !important; } }
  #colophon .grid {
    max-width: 1170px;
    width: 100%;
    margin: auto; }
    #colophon .grid h3 {
      color: white !important;
      font-size: 30px;
      margin-bottom: -10px; }
    #colophon .grid aside {
      float: left; }
    #colophon .grid #text-6 {
      width: 30%; }
      #colophon .grid #text-6 .wpcf7 input[type=email] {
        width: 100%; }
      #colophon .grid #text-6 .wpcf7 input[type=submit] {
        border: 0 !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        background: #366eb7;
        text-indent: -9999px;
        height: 32px;
        width: 50px;
        background-position: center !important;
        float: right;
        background-size: contain !important;
        margin-top: -32px;
        z-index: 10 !important;
        position: relative;
        background: #366eb7 url(../images/right.png);
        background-repeat: no-repeat; }
    #colophon .grid #text-7 {
      text-align: center;
      width: 40%; }
      #colophon .grid #text-7 h2 {
        color: white !important;
        font-size: 30px;
        margin-bottom: -10px;
        margin-top: 0px; }
        #colophon .grid #text-7 h2:after {
          display: none !important; }
      #colophon .grid #text-7 a {
        color: white !important;
        font-size: 40px;
        margin: 0 5px; }
    #colophon .grid #text-8 {
      width: 25%; }
      #colophon .grid #text-8 .contato {
        float: right;
        text-align: right; }
  #colophon .site-info {
    background: #366eb7;
    clear: both !important; }
    #colophon .site-info aside {
      text-align: center;
      padding: 15px 0 !important;
      margin: 0; }
      #colophon .site-info aside a.voltar {
        display: block;
        text-align: center;
        margin-top: -55px; }
  @media screen and (max-width: 800px) {
    #colophon .grid {
      margin-bottom: 50px;
      padding: 0 30px; }
      #colophon .grid aside {
        width: 100% !important;
        float: none; }
      #colophon .grid #text-8 .contato {
        float: none;
        text-align: center; } }

.page-sobre #colophon {
  margin-top: 30px !important; }

.search #content {
  margin-top: 100px;
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .search #content h2 a {
    color: #808080; }
  .search #content .entry-meta {
    margin-top: -30px; }

.home #banner {
  padding-top: 40px;
  background: #eceaea; }
  .home #banner .grid {
    max-width: 1170px;
    margin: auto;
    width: 100%;
    padding-top: 60px !important; }
    .home #banner .grid .imagem {
      max-width: 550px;
      width: 100%;
      margin: auto !important; }
    .home #banner .grid p {
      max-width: 550px !important;
      margin: auto;
      margin-top: 30px;
      font-size: 17px;
      padding-bottom: 40px; }
.home #utilidades {
  padding-bottom: 20px;
  margin-top: -20px;
  background: #a5c659; }
  .home #utilidades .grid {
    max-width: 1170px !important;
    width: 100%;
    margin: auto; }
    .home #utilidades .grid .title {
      text-align: center;
      margin-bottom: 40px; }
      .home #utilidades .grid .title h2 {
        margin: auto;
        font-size: 35px; }
      .home #utilidades .grid .title h5 {
        font-size: 20px;
        color: white !important; }
    .home #utilidades .grid .downloads {
      max-width: 860px;
      width: 100%;
      margin: auto; }
      .home #utilidades .grid .downloads .col-sm-3 {
        text-align: center; }
        .home #utilidades .grid .downloads .col-sm-3 a img {
          max-width: 140px;
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%); }
        .home #utilidades .grid .downloads .col-sm-3 a:hover img {
          -webkit-filter: grayscale(0%);
          -moz-filter: grayscale(0%);
          -ms-filter: grayscale(0%);
          -o-filter: grayscale(0%);
          filter: grayscale(0%); }
      .home #utilidades .grid .downloads:after {
        content: '';
        display: block;
        clear: both !important; }
.home #participantes {
  background: #edebeb;
  font-family: 'Poppins Regular'; }
  .home #participantes #anchor {
    height: 2px; }
  .home #participantes .title {
    text-align: center; }
    .home #participantes .title h2 {
      margin: auto;
      color: #3e543a !important;
      font-size: 35px; }
    .home #participantes .title h5 {
      font-size: 20px; }
  .home #participantes .conteudo {
    margin: 20px auto; }
    .home #participantes .conteudo .menu {
      margin-top: 80px;
      text-align: center;
      margin-bottom: 30px; }
      .home #participantes .conteudo .menu a {
        color: #3e543a;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase !important;
        border-right: 1px solid;
        padding: 0 10px; }
        .home #participantes .conteudo .menu a:hover {
          text-decoration: none !important;
          color: white;
          background: #3e543a; }
        .home #participantes .conteudo .menu a.active {
          text-decoration: none !important;
          color: white;
          background: #3e543a; }
  .home #participantes #parceiros, .home #participantes #apoio, .home #participantes #realizacao, .home #participantes #patrocinio, .home #participantes #organizacao {
    display: none;
    min-height: 640px !important; }
    .home #participantes #parceiros .container-fluid .col-sm-3, .home #participantes #apoio .container-fluid .col-sm-3, .home #participantes #realizacao .container-fluid .col-sm-3, .home #participantes #patrocinio .container-fluid .col-sm-3, .home #participantes #organizacao .container-fluid .col-sm-3 {
      margin-left: 70px;
      height: 320px;
      overflow: hidden !important; }
      .home #participantes #parceiros .container-fluid .col-sm-3 .conteudo, .home #participantes #apoio .container-fluid .col-sm-3 .conteudo, .home #participantes #realizacao .container-fluid .col-sm-3 .conteudo, .home #participantes #patrocinio .container-fluid .col-sm-3 .conteudo, .home #participantes #organizacao .container-fluid .col-sm-3 .conteudo {
        background: white !important;
        line-height: 150px;
        text-align: center !important; }
      .home #participantes #parceiros .container-fluid .col-sm-3 h4, .home #participantes #apoio .container-fluid .col-sm-3 h4, .home #participantes #realizacao .container-fluid .col-sm-3 h4, .home #participantes #patrocinio .container-fluid .col-sm-3 h4, .home #participantes #organizacao .container-fluid .col-sm-3 h4 {
        font-size: 20px !important;
        font-weight: 700;
        color: green;
        text-align: center;
        margin-top: -10px !important; }
      .home #participantes #parceiros .container-fluid .col-sm-3 img, .home #participantes #apoio .container-fluid .col-sm-3 img, .home #participantes #realizacao .container-fluid .col-sm-3 img, .home #participantes #patrocinio .container-fluid .col-sm-3 img, .home #participantes #organizacao .container-fluid .col-sm-3 img {
        max-width: 180px;
        width: 100%;
        margin: auto !important; }
    .home #participantes #parceiros.active, .home #participantes #apoio.active, .home #participantes #realizacao.active, .home #participantes #patrocinio.active, .home #participantes #organizacao.active {
      display: block !important; }
.home #apresentacao {
  background-attachment: fixed !important;
  background: url(../../images/quem-somos.png);
  background-size: cover; }
  .home #apresentacao .container {
    padding: 100px 0; }
    .home #apresentacao .container .conteudo {
      max-width: 700px;
      width: 100%;
      margin: auto !important; }
      .home #apresentacao .container .conteudo p {
        font-weight: 700;
        color: #3b5337;
        font-size: 17px; }
    .home #apresentacao .container h2 {
      margin: auto !important;
      max-width: 300px !important;
      color: #3e543a !important;
      text-align: center !important;
      margin-top: -80px !important;
      margin-bottom: 50px !important; }

/*# sourceMappingURL=styles.css.map */
